/* ========================================  Information of Developer  =================================================

This project make by "@Shashank_S_Pandey (technicalmastersp)"
Connect with me on LinkedIn @"https://www.linkedin.com/in/technicalmastersp/"
Connect with me on GitHub @"https://github.com/technicalmastersp/"

========================================  Start CSS Code  ================================================= */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 62.5%;
}
body {
  background-color: #4e4d4d;
}
.fBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95vw;
  flex-direction: column;
  row-gap: 3.5rem;
}
.img img {
  margin-top: 2.5rem;
  height: 45rem;
}
.fName, .icon, .sName {
  font-size: 3.2rem;
  color: #ffffff;
}
.icon{
  padding-bottom: 1rem;
}
.textDiv {
  font-size: 3.2rem;
  color: #ffffff;
}
.bothName {
  justify-content: space-between;
}
.fName {
  text-align: right;
}
.fName,
.sName {
  width: 35rem;
  text-transform: uppercase;
}

/* ----------------------------------------  For 'Try New' Button  ---------------------------------------- */

button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: .1rem solid #ff0000;
  border-radius: 2rem 1.5rem;
  box-sizing: border-box !important;
  font-weight: 600;
}
button a {
  text-decoration: none;
  outline: none;
}
button:hover {
  background-color: #c9c3c3;
}
button:active {
  border: .1rem solid #7700ff;
  transform: scale(1.02, 1.02);
  background-color: #ff0000;
  color: #0000ff;
  border: none;
}

/* ----------------------------------------  For Responsiv Styling  ---------------------------------------- */

@media (min-width : 315px){
  *{
    font-size: 24%;
  }
}
@media (min-width : 480px){
  *{
    font-size: 34%;
  }
  .icon{
    padding-bottom: 0rem;
  }
}
@media (min-width : 768px){
  *{
    font-size: 43%;
  }
}
@media (min-width : 834px){
  *{
    font-size: 49%;
  }
}
@media (min-width : 1024px){
  *{
    font-size: 55%;
  }
}
@media (min-width : 1440px){
  *{
    font-size: 60%;
  }
}