/* ========================================  Information of Developer  =================================================

This project make by "@Shashank_S_Pandey (technicalmastersp)"
Connect with me on LinkedIn @"https://www.linkedin.com/in/technicalmastersp/"
Connect with me on GitHub @"https://github.com/technicalmastersp/"

========================================  Start CSS Code  ================================================= */

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 62.5%;
}
body {
  background-color: #4e4d4d;
}
.fBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  position: relative;
}
.mainOpen {
  flex-direction: column;
  margin: 1rem;
  height: 95vh;
}

/* ----------------------------------------  For Version 1  ---------------------------------------- */

.version1 {
  position: absolute;
  font-size: 3rem;
  right: 2rem;
  top: 1rem;
}

/* ----------------------------------------  For Main Version  ---------------------------------------- */

.container {
  width: 70rem;
  background-color: #feaf66;
  border: .2rem solid #ff0000;
  border-radius: 25% 44% 25% 55% / 60% 50% 50% 50%;
  flex-direction: column;
  padding: 10rem;
  gap: 5rem;
}
.typeBox {
  background-color: #0000ff;
  outline: none;
  border: 0rem solid;
  border-radius: 1rem 1.5rem 1rem 1.5rem;
  height: 4rem;
  font-size: 2.4rem;
  padding-left: 1rem;
  color: #ffc0cb;
}
.typeBox::placeholder {
  color: #d4d3d3c0;
  font-size: 1.9rem;
  text-transform: capitalize;
}
.radioBox {
  flex-direction: column;
  align-items: flex-start !important;
  padding-left: 1rem;
}
input {
  text-transform: uppercase;
}

.line img {
  height: 15rem;
  filter: hue-rotate(0deg);
}

.button {
  padding: .5rem 2rem;
  font-size: 2.5rem;
  border-radius: 2rem 1rem;
  background-color: #ff00bf;
  margin-top: 1rem;
  user-select: none;
}
.button a {
  text-decoration: none;
  color: #ffffff;
}
.button:hover {
  background-color: #ff46d4;
}
.button:active {
  background-color: #00ff62;
}

/* ----------------------------------------  For Main Version  ---------------------------------------- */